@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.fade-appear,
.fade-enter {
    opacity: 0.01;
}

.fade-appear.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity .4s ease-in-out;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity .4s ease-in-out;
}

.movieListFade-appear,
.movieListFade-enter {
    opacity: 0.01;
}

.movieListFade-appear.movieListFade-appear-active,
.movieListFade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.movieListFade-leave {
    opacity: 1;
}

.movieListFade-leave.movieListFade-leave-active {
    opacity: 0.01;
    transition: opacity 2s ease-in-out;
}
