@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

a {
  color: #30d673;
}

a:hover {
  color: #30d673;
  text-decoration:none;
}

h1 {
  font-size: 4rem;
}

.container {
  width:100%
}

.col-sm-4 {
  padding:0;
}

.col-sm-6 {
  padding-left:0;
}

.overlay {
  background: black;
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

.overlay:hover {
  opacity: 0.2;
  transition: all 0.3s ease-in-out 0s;
}

.img-responsive {
  width: 100%;
  height: 40%;
}

.trailer {
  margin-right:10px;
}

.checkbox {
  margin: 0;
}

.switch > input[type="checkbox"] {
    display: none;
    cursor: pointer;
}

.switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 25px;
}

.switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 25px;
}
.switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 16px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 16px;
}
.switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 12px;
}

.label-default {
  margin-right: 10px;
}
