@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.react-autosuggest__container {
  position: relative;
  display: inline-block;
}

.react-autosuggest__input {
  width: 280px;
  height: 35px;
  padding: 10px 10px;
  border: none;
  background:#20232A;
  border-bottom:1px solid #30d673;
  color:white;
}

.react-autosuggest__input::placeholder {
  color:white;
  font-weight:normal;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  -webkit-animation: fadeIn 0.25s;
  animation: fadeIn 0.25s;
  display: block;
  position: absolute;
  top: 48px;
  width: 280px;
  background:rgba(32,35,42,1);
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 3;
  color:white;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  list-style-type: none;
  z-index: 10000;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 8px 20px 3px;
}

.react-autosuggest__suggestion--highlighted {
  background:rgba(0,0,0,0.4);
}

.searchResult-text {
  line-height: 21px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  padding-left:3px;
  color: white;
}

.searchResult-image {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
    border-radius: 50px;
}

.searchResult-name {
    font-weight: normal;
    padding-top: 13px;
}

.searchResult-link {
  display: block;
  padding: 5px;
}
